
aside, article, section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		box-sizing: border-box;
}
body {
	font-family: cursive, arial, sans-serif;
	background: #FFF url('images/bg2.jpg') no-repeat;
}
#container {
	min-width: 960px;
	width: 960px;
	margin: 10px auto;
}
h2 {
	font-family: ;
	color: #FFFFFF;
}
header {
	width: 800px;
	height: 200px;
	background: url('images/banner.jpg') no-repeat;
	margin: 0 auto;
	box-shadow: 0 0 20px #484848;
}
nav {
	background: #595959;
	border-radius: 10px 10px 0 0;
	margin: 15px 0;
	position: relative;

}
nav ul {
	margin-left: 20px;
}
nav li {
	display: inline-block;
	list-style: none;
	padding-left: 5px;

}
nav a {
	color: #FF7600;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	display: block;
	padding: 10px;
}
nav a:hover {
	background: #FF7600;
	color: #464646;
}.currentloc {
	background: #FF7600;
	color: #464646;
}

form, ul {
	display: inline;

}
nav form {
	margin: 3px;
	position: absolute;
	right: 20px;

}
nav input, button {
	border: 1px solid #FF7600;
	background: #BABABA;
	
}
nav form input {
	position: relative;
	width: 150px;
	height: 20px;
	left: 3px;
	border-radius: 10px 0 0 10px;
}
nav form button {
	position: relative;
	height: 24px;
	top: 2px;
	border-left: none;
	border-radius: 0 10px 10px 0;
}
/*content start here*/
h1 {
	font-size: 25px;
	margin-bottom: 10px; 
}
#wrap {
	margin: 15px 0;
	zoom: 1;
}
#wrap article {
	background: #E9E9E9;
	padding: 20px;
}
#wrap figure {
	float: right;
	margin-left: 10px; 
}
#wrap section img {
	border: 1px solid #555;
	padding: 3px;
	background: #FFF;
}
section {
	width: 640px;
	height: 100%;
	float: left;
}
section article {
	width: 640px;
	margin-bottom: 15px;
	border-radius: 10px;
	overflow: hidden;
}
#other figure {
	display: inline-block;
	margin: 10px 19px;

}
#other figcaption {
	width: 150px;
	font-size: .7em;
}
aside {
	width: 300px;
	height: 100%;
	float: right;
}
aside article {
	width: 300px;
	margin-bottom: 15px;
	border-radius: 10px;
}
aside fieldset {
	width: 200px;
	margin: 0 auto;
	color: #FF7600;
	font-weight: bold;
	border: 3px solid #FF7600;
	padding: 10px;
	padding: 15px;
}
aside legend {
	position: relative;
	left: 70px;
	top: 5px;
	margin-bottom: 10px;
}
.userinput  {
	width: 170px;
	height: 20px;
	border: 1px solid #FF7600;
	background: #BABABA;
	display: block;
	margin: 5px 0;
	border-radius: 5px;
}
aside input[type="submit"] {
	border: none;
	color: #333;
	font-weight: bold;
	padding: 5px;
	background: linear-gradient(#DFD180, #FF7600);
	border-radius: 5px;
	margin-top: 5px;
	cursor: pointer;
}
aside input[type="submit"]:hover {
	background: #FF7600;
}
aside input[type="button"] {
	border: none;
	background: #E9E9E9;
	margin-top: 5px;
	margin-left: 30px;
	cursor: pointer;
} 
aside input[type="button"]:hover {
	text-decoration: underline;
}
.reltop li {
	width: 80px;
	margin: 10px 0;
}
.reltop a {
	color: #49AFCF;
}
.reltop a:hover {
	text-decoration: underline;
}
footer {
	clear: both;
	background: #595959;
	border-radius: 0 0 10px 10px;
	margin: 15px 0;
}
footer li {
	display: inline-block;
}
footer a {
	color: #FF7600;
	text-decoration: none;
	font-size: 15px;
	display: block;
	padding: 10px;

}
footer a:hover {
	text-decoration: underline;
}